.blue .gray .pink
{
	background-color: rgb(176,176,176);
}

img.imagecentre
{
	width: 75%;
	display: block;
    margin-left: auto;
	margin-right: auto;
}

p.boutons
{
	font-size: 450%;
	font-weight: bold;
}


.boutonsUtilesUniquementPourAfficherLeMenuDeManiereDegueulasse {
	left: -100%;

}

time.icon
{
  font-size: 1.5em; /* change icon size */
  display: block;   /*La case dans sa globalité*/
  position: relative;
  left: -17%;
  width: 14em;
  height: 7em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}


time.icon em
{
  position: absolute; /*le nom du jour*/
  bottom: 0.3em;
  padding-left: 1.5em;
  color: #75A3E7;
  font-size: 2.5em;
}


time.icon span
{
  font-size: 2.8em;     /*Le chiffre du jour*/
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  padding-right: 2.5em;
  color: #2f2f2f;
}


time.icon strong
{
  position: absolute;      /*Le nom du mois*/
  top: 0;
  font-size: 1.7em;

  padding: 0.1em 0;
  color: #fff;
  background-color: #75A3E7;
  border-bottom: 1px dashed #4C6CA0;
  box-shadow: 0 2px 0 #75A3E7;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
#date-number
{
	text-align: center;
	font-size: 3em;
}
.cours text{
	font-size: 2em;
}
.gridsckh{
	font-size: 1.45em;
}
.gridscg, .gridscp{
	font-size: 1.25em;

}
.rec_wk text{
	font-size: 2em;
}
.cir_wk text{
	font-size: 2em;
}
.gp-but-INFO1P text{
	font-size : 1.5em;
}
.gp-but-INFO2P text{
	font-size : 1.5em;
}
.gp-but-APSIOP text{
	font-size : 1.5em;
}
.tableauProf tbody tr td{
	font-size : 3em;
}
/*.lay-gpg{
	float : right;
}*/
#volet_clos {
	z-index: 1;

}

#volet {
	width: 100%;
	height: 100%;
	padding: 10px;
	background: #AFEAE3; color: #000;
	z-index: 1;
	position: relative;
	left: -100%; top: 0;
	margin-bottom:0;
	-webkit-transition: all .5s ease-in;
	transition: all .5s ease-in;
}

#volet a.ouvrir,
#volet a.fermer {
	padding: 10px 25px;
	background: #AFEAE3;
	color: #fff;
	text-decoration: none;
	position: absolute;
	right: 0px;
	top: 150px;

	/* quelques styles CSS3 */
	-ms-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);

	border-radius: 0 0 8px 8px;
}

#volet:target {
	left: 0;
}

#volet a.fermer {
	display: none;
}

#volet_clos:target #volet {
	left: -100%;
}

#volet:target a.ouvrir {
	display: block;
}

#volet:target a.fermer {
	display: block;
}

a.fermer,
a.ouvrir {

 /** Ces directives indiquent au lien de ressembler à un bouton pour les principaux moteurs de rendu **/
 -webkit-appearance: button;
 -moz-appearance: button;
 appearance: button;
 /**Les directives en dessous enlèvent l'apparence par défaut en bleu et avec du texte souligné pour un lien hypertexte **/
 text-decoration: none;
 color: initial;

}

}

#prof,#salle,#module,#contact,#help{
  display: block ;
  font-size: 1000px;
  text-align: center ;

  padding: 4px 0 ;

}

.filtres {
	font-size: 450%;

}

#navigation {
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
	font-size: 2em;
}
#theClipweek{
	text-anchor: middle;
}
#div-sal, #div-mod {
	font-size: 4em;
}
option{
	font-size: : 2em;
}
