{% extends "ResponsiveBase.html" %}

{% csrf_token %}

{% block title %} EDT {% endblock %}
{% block content %}


{% load static %}
<link rel="stylesheet" href="{% static 'base/better.css' %}?2"/>
  <script src="{% static 'base/d3.v4.min.js' %}"></script>
  <!-- script src='https://d3js.org/d3.v4.min.js'></script -->
  <script>
    var groupes_fi = "{% static 'base/groups.json' %}";

    var url_cours_pl = "{% url "base:fetch_cours_pl" %}";
    var url_cours_pp = "{% url "base:fetch_cours_pp" %}";
    var url_dispos = "{% url "base:fetch_dispos" %}";
    var url_login = "{% url "people:login"%}";
    var url_edt = "{% url "base:edt"%}";
    var url_edt_changes = "{% url "base:edt_changes"%}";
    var url_dispos_changes = "{% url "base:dispos_changes"%}";
    var url_fetch_stype = "{% url "base:fetch_stype" %}"; 
    var url_bknews = "{% url "base:fetch_bknews" %}"; 
    var url_quote = "{% url "quote:fetch_quote" %}"; 

    var semaine_an_list = {{ all_weeks|safe }};
    var jours_list = {{ jours|safe }};
    var semaine_init = +"{{ semaine }}";
    var an_init = +"{{ an }}";

    var promo_init = +"{{ promo }}";
    var num_copie = +"{{ copie }}";
    var gp_init = "{{ gp }}";

//    var cours_pp = {{ cpp|safe }};

    var une_salle = "{{ une_salle }}";
    
    var logged_usr = {nom:"{{ name_usr }}", rights: "{{ rights_usr }}"};

    var splash_id = "{{ splash_id }}" ; 

    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
  </script>

  <!--   <script type='text/javascript' src="{% static "base/better.js" %}"></script>-->
  <script type='text/javascript' src="{% static 'base/variables.js' %}?2"></script>
  <script type='text/javascript' src="{% static 'base/week_change.js' %}"></script>
  <script type='text/javascript' src="{% static 'base/transformation.js' %}"></script>
  <script type='text/javascript' src="{% static 'base/ResponsiveCreation.js' %}"></script>
  <script type='text/javascript' src="{% static 'base/ResponsiveAction.js' %}"></script>
  <script type='text/javascript' src="{% static 'base/update.js' %}"></script>
  <script type='text/javascript' src="{% static 'base/all.js' %}"></script>
    

{% endblock %}
