{% extends "m_base.html" %}

{% block title %} EDT {% endblock %}
{% block content %}
<body onload="setEnableContact()"></body>
<font color="black">
<form method="post" novalidate >
  {% csrf_token %}
  <table cellpadding="10">
    {{ form }}
  </table>
  <button type="submit" class="btn btn-success filtres" style="font-size:40% height:100%">Envoyer</button>
  <div> {{ ack }} </div>
  <div> <br/><br/> </div>
</form>
</font>
<a id="contact" class="btn btn-success filtres" style="font-size:40% height:100%" href="{% url "base:edt" %} onclick="setEnableContact()">Retour vers l'EDT</a>

{% endblock %}

