<!-- This file is part of the FlOpEDT/FlOpScheduler project.               -->
<!-- Copyright (c) 2017                                                    -->
<!-- Authors: Iulian Ober, Paul Renaud-Goud, Pablo Seban, et al.           -->
<!--                                                                       -->
<!-- This program is free software: you can redistribute it and/or modify  -->
<!-- it under the terms of the GNU Affero General Public License as        -->
<!-- published by the Free Software Foundation, either version 3 of the    -->
<!-- License, or (at your option) any later version.                       -->
<!--                                                                       -->
<!-- This program is distributed in the hope that it will be useful, but   -->
<!-- WITHOUT ANY WARRANTY; without even the implied warranty of            -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU      -->
<!-- Affero General Public License for more details.                       -->
<!--                                                                       -->
<!-- You should have received a copy of the GNU Affero General Public      -->
<!-- License along with this program. If not, see                          -->
<!-- <http://www.gnu.org/licenses/>.                                       -->
<!--                                                                       -->
<!-- You can be released from the requirements of the license by purchasing -->
<!-- a commercial license. Buying such a license is mandatory as soon as   -->
<!-- you develop activities involving the FlOpEDT/FlOpScheduler software   -->
<!-- without disclosing the source code of your own applications.          -->

{% extends "base.html" %}

{% csrf_token %}



{% block title %} EDT {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "base/better.css" %}"/>
  <script src="{% static "base/d3.v4.min.js" %}"></script>
  <!-- script src="https://d3js.org/d3.v4.min.js"></script -->
  <script>
    var url_fetch_stype = "{% url "base:fetch_stype" %}"; 
    var url_stype = "{% url "base:stype" %}"; 
    var url_dispos_changes = "{% url "base:dispos_changes"%}";
    var logged_usr = {nom:"{{ name_usr }}", rights: -1};
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    var url_login = "{% url "people:login"%}";
    var annee_courante = "{{ annee_courante }}" ;
  </script>
  </script>
<body>
    <!--    <div id="option">
      <label>
      <input name="dispoBox" 
             type="checkbox" />
      Dispos
      </label>
      <button onclick="fetchjson()">Json</button>
      <button onclick="fetchcsv()">CSV</button>
      <button onclick="fetch_dispo()">Dispos</button>
    </div>-->
    <div  id="tools-main" style="width: 100%; overflow: hidden;">
      <div id="svg" style="width: 680px; float: left;"></div>
      <div style="margin-left: 700px;">
	<form style="white-space: nowrap;" name="app" action="javascript:apply_stype_from_button(false)">
	  <fieldset>
	    <legend>Semaines particulières</legend>
	    Appliquer la configuration ci-contre<br/>
	    de la semaine
	    <input type="number" name="se_deb" style="width: 40px" value="{{ date_deb.semaine }}" min="1" max="53">, année
	    <input type="number" name="an_deb" style="width: 60px" value="{{ date_deb.an }}" min="{{annee_courante}}" max="{{annee_courante|add:"1"}}"></br>
	    à la semaine
	    <input type="number" name="se_fin" style="width: 40px" value="{{ date_fin.semaine }}" min="1" max="53">, année
	    <input type="number" name="an_fin" style="width: 60px" value="{{ date_fin.an }}" min="{{annee_courante}}" max="{{annee_courante|add:"1"}}"></br></br>
	    <input type="submit" name="apply" value="Appliquer">
	  </fieldset></br></br>
	</form>
	<fieldset>
	  <legend>Semaine type</legend>
	  <form style="white-space: nowrap;" name="sav"  action="javascript:apply_stype_from_button(true)">
	    Redéfinir ma semaine type<br/>
</br>
	    <input type="submit" name="save" value="Sauvegarder"></br>	  </fieldset>
	</form></br>
	<!--{% if err %}<p><strong>{{ err }}</strong></p>{% endif %}
	  -->
	<span id="ack"></span>
      </div>
    </div>
</body>
  <script type='text/javascript' src="{% static 'base/week_change.js' %}"></script>
  <script type='text/javascript' src="{% static 'base/transformation.js' %}"></script>
  <script type='text/javascript' src="{% static 'base/creation.js' %}"></script>
  <script type='text/javascript' src="{% static 'base/action.js' %}"></script>
  <script type='text/javascript' src="{% static 'base/update.js' %}"></script>
  <script type='text/javascript' src="{% static 'base/variables.js' %}?2"></script>
<script type='text/javascript' src="{% static "base/stype.js" %}"></script>

{% endblock %}
