<!-- This file is part of the FlOpEDT/FlOpScheduler project.               -->
<!-- Copyright (c) 2017                                                    -->
<!-- Authors: Iulian Ober, Paul Renaud-Goud, Pablo Seban, et al.           -->
<!--                                                                       -->
<!-- This program is free software: you can redistribute it and/or modify  -->
<!-- it under the terms of the GNU Affero General Public License as        -->
<!-- published by the Free Software Foundation, either version 3 of the    -->
<!-- License, or (at your option) any later version.                       -->
<!--                                                                       -->
<!-- This program is distributed in the hope that it will be useful, but   -->
<!-- WITHOUT ANY WARRANTY; without even the implied warranty of            -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU      -->
<!-- Affero General Public License for more details.                       -->
<!--                                                                       -->
<!-- You should have received a copy of the GNU Affero General Public      -->
<!-- License along with this program. If not, see                          -->
<!-- <http://www.gnu.org/licenses/>.                                       -->
<!--                                                                       -->
<!-- You can be released from the requirements of the license by purchasing-->
<!-- a commercial license. Buying such a license is mandatory as soon as   -->
<!-- you develop activities involving the FlOpEDT/FlOpScheduler software   -->
<!-- without disclosing the source code of your own applications.          -->



<script>var responsiveDisplay = true</script>

{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
<style>
</style>
<link rel="stylesheet" href="{% static "base/header.css" %}" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=5AeyQYqgW7">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=5AeyQYqgW7">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=5AeyQYqgW7">
<link rel="manifest" href="/site.webmanifest?v=5AeyQYqgW7">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=5AeyQYqgW7" color="#858585">
<link rel="shortcut icon" href="/favicon.ico?v=5AeyQYqgW7">
<link rel="stylesheet" href="{% static "base/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "base/ResponsiveBetter.css" %}">
<meta name="msapplication-TileColor" content="#048c04">
<meta name="theme-color" content="#000000">
<script src="{% static 'base/jquery.min.js' %}"></script>
<script src="{% static 'base/d3.v4.min.js' %}"></script>
<script src="{% static 'base/loader.js' %}"></script>
<script src="{% static 'base/ResponsiveAction.js' %}"></script>
<script>var url_logo = "{% static 'base/logo-clock.svg' %}";</script>
<script>var jourSemaine = "Lun";</script>
<!--<script>var semaineDisplay = false;</script>-->
<!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script -->
<title>{% block title %}Emplois du temps{% endblock %}</title>
</head>
<body>
  <div id="loader" class="loader" style="visibility:hidden;"></div>
<!--<header>Emplois du temps</header>-->
    <nav id="menu-edt">
       {% block nav %}
		<input id="boutonOuvrir" type="button" onclick=setEnable() class="col-md ouvrir btn btn-success boutonsUtilesUniquementPourAfficherLeMenuDeManiereDegueulasse" style="position:absolute; visibility:visible "/>
		<input id="boutonFermer" type="button" onclick=setEnable() class="col-md fermer btn btn-success boutonsUtilesUniquementPourAfficherLeMenuDeManiereDegueulasse"	style="position:absolute; visibility:hidden"/>
		<div class="container-fluid gray" >
			<div id="a" class="row pink" >
				<button id="boutonMenu" class="col-md-2 btn btn-success" onclick="setEnable()"  >
					<img src="{% static 'base/menu.png' %}" width="100%">
				</button>
				<div class="col-md-10 blue" >
					<table width="100%">
						<tr>
							<td width="20%">
								<a class="hide_this_link" target="_blank" href="https://framagit.org/flopedt/flopedt" id="live-logo"  style="padding: 0px 0px 0px 0px; float: left">
								</a>
							</td>
							<td width="80%">
								<img src="{% static 'base/Logo.png' %}" class="imagecentre"/>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div id = "theClipweek">

								</div>
							</td>
						</tr>
					</table>
		<div class="container-fluid ">
			<div class="row">
				<td >
					<button id="boutonJourLundi" class="col btn btn-info jour" onclick="afficherJour(0)">
						<p class="boutons">
						Lun
						</p>
					</button>
				</td>
				<td >
					<button id="boutonJourMardi" class="col btn btn-info jour" onclick="afficherJour(1)">
						<p class="boutons">
						Mar
						</p>
					</button>
				</td>
				<td >
					<button id="boutonJourMercredi" class="col btn btn-info jour" onclick="afficherJour(2)">
						<p class="boutons">
						Mer
						</p>
					</button>
				</td>
				<td >
					<button id="boutonJourJeudi" class="col btn btn-info jour" onclick="afficherJour(3)">
						<p class="boutons">
						Jeu
						</p>
					</button>
				</td>
				<td >
					<button id="boutonJourVendredi" class="col btn btn-info jour" onclick="afficherJour(4)">
						<p class="boutons">
						Ven
						</p>
					</button>
				</td>
			</div>
		</div>
				</div >
				<!--<button id="boutonCalendrier" class="col-md-1 btn btn-success" onclick="afficherSemaine()" type="date">

					<img src="{% static 'base/calendrier.png' %}" width="100%"/>
				</button>-->
			<br/>
		</div>
       {% endblock %}
   </nav>
   <section id="content">
	   <div id="volet_clos" style="position:absolute; visibility:hidden" class="container-fluid">
					<div id="volet" >
						<div id="voletFiltres" style="width: 100%; height: 100%; overflow-y: scroll;">
							<ul id="navigation" >
								<li>
									<!--<button id="prof" class="btn btn-success filtres dr-label" onclick="setFiltresVisibles(0)" >Profs</button>-->
                  <p id="prof" class="btn btn-success filtres dr-label" disabled="disabled" >Profs</p>
									<table id="tableProf" style="display:none" class="tableauProf">
											<svg id="CAYJJMDF" width = "500px">  </svg>
										</table>
								</li>

								<br/>
								<br/>
								<li id="salleFilter">
									<!--<button id="salle" class="btn btn-success filtres" onclick="setFiltresVisibles(1)">Salles</button>-->
									<!--<div id="derouleSalle" style="display:none">
										Salle :
										<select>

										</select>
									</div>-->
								</li>
								<br/>
								<br/>
								<li id="moduleFilter" >
									<!--<button id="module" class="btn btn-success filtres" onclick=" setFiltresVisibles(2)">Modules</button>-->
									<!--<div id="moduleFilter" style="display:none">
										Module :
										<select id="dd-mod">


										</select>
									</div>-->
								</li>
								<br/>
								<br/>
								<li>
									<a id="contact" class="btn btn-success filtres" href="{% url "base:responsiveContact" %}" >Nous contacter</a>
								</li>
								<br/>
								<br/>

							</ul>
						</div>
					</div>
				</div>
			</div>
       {% block content %}{% endblock %}

   </section>

   <script src="{% static 'base/logo.js' %}";></script>

</body>
</html>
